$header: '.header';

#{$header} {
    position: fixed;
    top: 0;
    background-color: rbga(black, 0.5);
    backdrop-filter: blur(15px);
    width: 100%;
    z-index: 1000;

    #{$header}__layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

.container {
    max-width: 1240px;
    width: 100%;
}