$header: '.header';

#{$header} {
    position: fixed;
    top: 0;
    padding: 16px 0;
    background-color: rgba($color7, 0.5);
    backdrop-filter: blur(15px);
    width: 100%;
    z-index: 1000;

    #{$header}__layout {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
